@font-face {
  font-family: 'YK Thin';
  font-style: normal;
  font-weight: 400;
  src: url("YanoneKaffeesatz-Thin.ttf") format('ttf');
}
@font-face {
  font-family: 'YK Sans';
  font-style: normal;
  font-weight: 200;
  src: url("YanoneKaffeesatz-Thin.ttf") format('ttf');
}
@font-face {
  font-family: 'YK Sans';
  font-style: normal;
  font-weight: 300;
  src: url("YanoneKaffeesatz-Light.ttf") format('ttf');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("YanoneKaffeesatz-Normal.ttf") format('ttf');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("YanoneKaffeesatz-Bold.ttf") format('ttf');
}