@import "compass/css3";
@import "normalize";

$white-color: #f9f9f8;
$red-color: #E15556;
$border-color: #b4b3b1;
$sidebar-color: #e7e5e4;
$light-font: "Ubuntu Light", "Ubuntu";
$purple: #522453;
$nephritis: #66be7f;

::-webkit-scrollbar {
  width: 10px;
}

/* line 61, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/* line 66, ../sass/style.scss */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

body, input, textarea {
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}

/* Set cursor to horizontal resize while resizing */
body.resizing { cursor: ew-resize; }

.drag {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default !important;
}

#notebooks, #panel, #notes {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
	cursor: default !important;
}

#panel {
	width: 100%;
	height: 40px;
	background: #333;
	cursor: default !important;
}
#decor {
	display: inline-block;
	height: 19px;
	margin: 11px 9px;

	img {
		padding: 4px;
		opacity: 0.7;

		&:active {
			opacity: 1;
		}
	}
}
#noteControls {
	display: inline-block;
	left: 200px;
	width: 295px;
	text-align: right;
	position: absolute;
	padding: 5px 0px 5px 4px;
	top: 0;
	border-right: 1px solid #444;

	&.all {
		#new {
			opacity: 0.35;
		}
	}

	#share {
		display: none;
	}

	&.disabled {
		#share, #del {
			opacity: 0.35;
		}
	}

	img {
		height: 28px;
		margin-right: 9px;
		opacity: 0.75;
		-webkit-user-drag: none;
		-moz-user-drag: none;
		-ms-user-drag: none;
		user-drag: none;
		-webkit-transition: 150ms ease opacity;

		&:active {
			opacity: 1;
		}
	}
}
#search {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding-top: 7px;
	padding-right: 13px;

	input {
		background: url(../img/search.png) no-repeat 7px 50%, rgba(0,0,0,0.2);
		outline: 0;
		padding: 6px 10px 6px 28px;
		font-size: 13px;
		color: #fff;
		border: 0;
		border-radius: 2px;
		box-shadow: 0 0 1px #444;
	}
}

/* THE PARENT */
#parent {

  /* Must be positioned absolutely */
  position: absolute;

  /* Hides ugly scrollbars */
  overflow: hidden;

  /* Make parent fill up the entire screen */
  top: 40px; bottom: 0;
  left: 0; right: 0;

}

/* THE PANELS */
.panel {

  /* Must be position absolutely */
  position: absolute;

  /* Take up full height of parent */
  top: 0; bottom: 0;

  /* Stop content breaking out */
  overflow: hidden;

  /* Prevent padding messing with width */
  box-sizing: border-box;

}

/* THE SPLITTERS */
.splitter {

  /* So you can easily grab the splitter with a mouse */
  width: 5px;

  /* Must be positioned absolutely */
  position: absolute;

  /* Take up full parent height */
  top: 0; bottom: 0;

  /* Use resize cursor */
  cursor: ew-resize;

  /* So you can see the splitters above the panels */
  z-index: 2;

  background: transparent;
  box-shadow: -1px 0 $border-color;

}

#notebooks {
	position: absolute;
	left: 0;
	background: $sidebar-color;
	padding-bottom: 30px;

	.container {
		top: 0;
		position: absolute;
		width: 100%;
		bottom: 30px;
		overflow: auto;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		height: 33px;
		line-height: 33px;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #bbb;
		padding: 0 10px 0 34px;
		font-size: 14px;
		color: #222;
		text-shadow: 0 -1px 0 #f1f1f1;
		background: url(../img/book.svg) no-repeat;
		background-size: 33px;
		cursor: default;

		&[data-id=all] {
			background: url(../img/list.svg) no-repeat 3px 40%;
			background-size: 28px;
		}

		&.tag {
			background: url(../img/tag.svg) no-repeat 3px 50%;
			background-size: 28px;
		}

		&.selected {
			background-color: lighten($sidebar-color, 8%);
		}
	}
	input {
		background-color: $sidebar-color;
		background-image: url(../img/book_input.svg);
		background-size: 33px;
		background-repeat: no-repeat;
		color: #222;
		width: 100%;
		box-sizing: border-box;
		outline: 0;
		padding: 0 10px 0 34px;
		height: 33px;
		font-size: 14px;
		border: 0;

		&:focus {
			background-image: url(../img/book.svg);
		}
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

#settingsbar {
	position: fixed;
	bottom: 0;
	height: 29px;
	width: 100%;
	background: -webkit-linear-gradient(top, #eee, #ddd);
	border-top: 1px solid #bbb;

	img {
		height: 17px;
		vertical-align: top;
		margin: 6px 0 6px 8px;
		opacity: 0.6;

		&.spin {
			-webkit-animation: spin 1000ms linear infinite;
		}

		&:active {
			opacity: 0.9;
		}
	}
}

#notes {
	border-right: 1px solid $border-color;
	position: absolute;
	background: darken($white-color, 1%);
	overflow: auto;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		cursor: default;
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #ccc;
		padding: 0 15px 8px;
		color: #444;
		font-size: 13px;
		line-height: 16px;
		overflow: hidden;

		&.selected {
			box-shadow: 0 -1px 3px rgba(0,0,0,0.1) inset;
			border-top: 1px solid rgba(0,0,0,0.1);
			@include background(linear-gradient($white-color, lighten($white-color, 10%)));
		}
	}

	h2 {
		margin: 8px 0 4px;
		font-size: 15px;
		color: #444;
	}

	time {
		color: $purple;

		&::after {
			content: " ";
		}
	}
}

#content {
	position: absolute;
	right: 0;
	background: lighten($white-color, 1%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	&.deselected {
		background-color: #ededea;
		background-image: url(../img/page.svg);
		background-repeat: no-repeat;
		background-position: 50% 100px;
		background-size: 140px;

		.editorbuttons {
			display: none;
		}

		&::after {
			position: absolute;
			top: 240px;
			font-family: $light-font;
			font-weight: 300;
			content: "No note selected.";
			letter-spacing: -1px;
			color: #666;
			font-size: 22px;
			text-align: center;
			left: 0;
			right: 0;
		}

		header, #contentread, #contentwrite {
			display: none !important;
		}
	}

	header {
		margin: 0;
		padding: 0;
		@include background(linear-gradient(lighten($white-color, 4%), darken($white-color, 4%)));
		border-bottom: 1px solid #b4b3b1;
		position: absolute;
		right: 0;
		left: 0;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);
		height: 60px;
		z-index: 10;

		.headerwrap {
			max-width: 650px;
			padding: 0 20px;
			box-sizing: border-box;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		h1 {
			font-weight: 300;
			font-family: $light-font;
			text-shadow: 0 1px 0 #fff;
			outline: 0;
			margin: 0;
			letter-spacing: -1px;
			color: #222;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;

			&[contenteditable=true] {
				&:hover, &:focus {
					outline: 1px solid #ccc;
				}
			}
		}

		time {
			font-family: $light-font;
			font-size: 13px;
			color: $purple
		}

		.left {
			display: inline-block;
			margin-top: 13px;
		}

		.right {
			display: inline-block;
			text-align: right;
			vertical-align: top;
			position: absolute;
			right: 20px;
			top: 8px;
			color: #999;
		}

		.toggle {
			color: #999;
			display: inline-block;
			border: 0;
			font-size: 14px;
			margin: 4px 0 1px;
			padding: 0;
			background: transparent;
			cursor: default;
			font-weight: bold;

			&.save {
				font-size: 15px;
				border: 1px solid #ccc;
				padding: 5px 10px;
				border-radius: 3px;
				box-shadow: 0 1px 1px #fff, 0 1px 1px #fff inset;
				margin-top: 8px;
				color: #888;

				&:active {
					background: -webkit-linear-gradient(top,#fafafa,#fcfcfc);
					border: 1px solid #bbb;
					color: #444;
				}
			}

			&:hover {
				color: #444;
			}
		}
	}
}

#contentscroller {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
}

#contentwrite {
	visibility: "hidden"
}

#contentread, #contentwrite {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: lighten($white-color, 1%);
	max-width: 600px;
	padding: 0 20px;
}

#contentwrite {
	margin: 65px auto 35px;

	textarea {
		font-family: "Lato", sans-serif;
		outline: 0;
		border: 0;
		resize: none;
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		min-height: 200px;
		font-size: 15px;
		line-height: 1.1;
		min-height: 100%;
		padding: 0 0 30px;
		color: #444;
		background: lighten($white-color, 1%);
	}
}

.editorbuttons {
	z-index: 9;
	position: absolute;
	margin-top: 60px;
	height: 35px;
	width: 100%;
	background: #eee;
	border-bottom: 1px solid #ccc;
	top: -36px;
	-webkit-transition: 200ms ease all;

	&.show {
		top: 0;
	}

	.inner {
		max-width: 610px;
		margin: 3px auto;
	}

	button {
		background: transparent;
		border: 2px solid #444;
		border-radius: 50%;
		width: 26px;
		height: 26px;
		margin: 2px 3px;
		text-align: center;
		padding: 0;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			-webkit-filter: invert(100%);
			background: #bbb;
		}

		img {
			padding-top: 3px;
			vertical-align: top;
		}
	}
}

#contentread {
	margin: 35px auto;
	bottom: auto;
	display: none;
	z-index: 4;
	color: #333;
	font-family: "Lato", sans-serif;
	line-height: 1.3;
	font-size: 15px;

	:first-child {
		margin-top: 0;
	}

	h1, h2, h3 {
		margin-bottom: 0.2em;
		color: #222;
	}
	ul {
		padding: 0 0 0 20px;
	}
	hr {
		border: 0;
		border-top: 1px solid#ccc;
		margin: 2em 0;
	}
	p {
		margin-top: 0.4em;
	}
	a {
		color: $purple;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	code, pre {
		font-size: 0.95em;
		line-height: 1.1;
		color: #222;
		font-family: "Ubuntu Mono", monospace;
	}
}
.popover-mask {
	display: none;
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;

	& > div {
		display: none;

		button {
			color: #ccc;
			border: 0;
			background: #222;
			height: 22px;
			font-size: 12px;
			border-radius: 2px;
			margin-top: 4px;
			padding: 0 10px;

			&:hover {
				color: #fff;
			}
			&:active {
				background: #333;
			}
		}
	}
}

.delete-popover {
	display: inline-block;
	width: 200px;
	height: 34px;
	position: absolute;

	.arrow {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid #222;
		margin-top: 7px;
		margin-left: 5px;
		vertical-align: top;
	}
	.container {
		display: inline-block;
		background: #222;
		height: 30px;
		vertical-align: top;
		margin-top: 2px;
		padding: 0 5px;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
}

.share-popover {
	display: inline-block;
	width: 200px;
	height: 34px;
	position: absolute;

	.arrow {
		width: 0;
		height: 0;
		border-right: 10px solid transparent;
		margin-top: 7px;
		margin-left: 5px;
		vertical-align: top;
		border-bottom: 10px solid #222;
		border-left: 10px solid transparent;
	}
	.container {
		display: inline-block;
		background: #222;
		height: 30px;
		vertical-align: top;
		margin-top: 0px;
		padding: 0 5px;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
}


.modal {
	display: none;
	font-size: 14px;
	color: hsl(0,0,30%);
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	opacity: 0;
	z-index: 10;
	position: absolute;
	//-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: .3s opacity ease;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&.show {
		opacity: 1;

		& > div {
			//-webkit-transform: scale(1) translate3d(0, 0, 0);
		}
	}

	& > div {
		position: absolute;
		top: 15%;
		left: 50%;
		//-webkit-transition: .3s -webkit-transform ease;
		//-webkit-transform: scale(0.75) translate3d(0, 0, 0);
		background: #fff;
		font-size: 16px;
		background: -webkit-linear-gradient(bottom, #fff, #fcfcfc);
		box-shadow: 0 1px 15px rgba(0,0,0,0.2);
	}

	.delete-container {
		width: 400px;
		margin-left: -228px;
		padding: 25px;
		text-align: center;
		font-size: 16px;
		color: #222;
		border: 3px solid $red-color;
		h1 {
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
		}
	}

	.rename-container {
		width: 400px;
		margin-left: -228px;
		padding: 25px;
		text-align: center;
		font-size: 16px;
		color: #222;
		border: 3px solid $purple;

		input {
			font-size: 18px;
			border: 2px solid $purple;
			padding: 5px 10px;
			outline: 0;
		}

		button.special, a.special {
			border: 2px solid $purple;

			&:active {
				background: $purple;
			}
		}
	}

	.error-container {
		width: 400px;
		margin-left: -228px;
		padding: 25px;
		text-align: center;
		font-size: 18px;
		color: #222;
		border: 3px solid $red-color;
		font-family: $light-font;
		font-weight: 300;
	}

	span {
		display: inline-block;
		margin: 5px 0;
	}

	button.special, a.special {
		display: inline-block;
		text-decoration: none;
		border: 2px solid $red-color;
		background: transparent;
		font-size: 14px;
		color: #222;
		margin-top: 15px;
		padding: 8px 15px;
		font-family: "Ubuntu", sans-serif;
		cursor: default;

		&:active {
			background: $red-color;
			color: #fff;
		}
	}
}

.preferences-container {
	width: 400px;
	margin-left: -228px;
	text-align: center;
	font-size: 16px;
	color: #333;
	border: 2px solid $nephritis;
	font-weight: 300;
	font-family: $light-font;

	.tabs {
		border-bottom: 2px solid $nephritis;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0;
		}

		li {
			display: inline-block;
			line-height: 30px;
			font-size: 15px;
			padding: 0 15px;
			font-weight: bold;
			color: #444;
			cursor: default;

			&:active {
				color: darken($nephritis,15%);
			}

			&.current {
				background: $nephritis;
				color: white;
			}
		}
	}

	a {
		color: $purple;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.container {
		padding: 10px 25px;
	}

	.signedin, .signedout {
		padding-bottom: 15px;
		p {
			margin: 0;
		}
		button {
			font-size: 13px;
		}
	}

	input {
		font-size: 14px;
		border: 2px solid $nephritis;
		padding: 5px 10px;
		outline: 0;
	}

	button.special, a.special {
		border: 2px solid $nephritis;

		&:active {
			background-color: $nephritis;
		}

	}
}

.about, .general {
	display: none;

	&.current {
		display: block;
	}
}

.about {
	.name {
		font-weight: 300;
		font-size: 32px;
	}

	p {
		font-size: 13px;
	}
}
