@import "compass/css3";
@import "normalize";

$white-color: #f9f9f8;
$red-color: #E15556;
$border-color: #b4b3b1;
$sidebar-color: #e7e5e4;
$light-font: "Ubuntu Light", "Ubuntu";
$purple: #522453;

body, input, textarea {
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}

.drag {
	-webkit-app-region: drag;
}

#notebooks, #panel, #notes {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

#panel {
	width: 100%;
	height: 40px;
	background: #333;
	cursor: default !important;
}
#decor {
	display: inline-block;
	height: 19px;
	margin: 11px 13px;

	img {
		margin-right: 8px;
	}
}
#noteControls {
	display: inline-block;
	left: 200px;
	width: 291px;
	text-align: right;
	position: absolute;
	padding: 5px 4px;
	top: 0;
	border-right: 1px solid #444;

	img {
		height: 28px;
		margin-right: 6px;
		opacity: 0.7;
		-webkit-user-drag: none;
		-moz-user-drag: none;
		-ms-user-drag: none;
		user-drag: none;

		&:active {
			opacity: 1;
		}
	}
}
#search {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding-top: 7px;
	padding-right: 13px;

	input {
		background: url(../img/search.png) no-repeat 7px 50%, rgba(0,0,0,0.2);
		outline: 0;
		padding: 6px 10px 6px 28px;
		font-size: 13px;
		color: #fff;
		border: 0;
		border-radius: 2px;
		box-shadow: 0 0 1px #444;
	}
}

#notebooks {
	width: 199px;
	border-right: 1px solid $border-color;
	background: #f00;
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	background: $sidebar-color;
	overflow: auto;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		height: 33px;
		line-height: 33px;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #bbb;
		padding: 0 10px 0 34px;
		font-size: 14px;
		color: #222;
		text-shadow: 0 -1px 0 #f1f1f1;
		background: url(../img/book.svg) no-repeat;
		background-size: 33px;
		cursor: default;

		&.all {
			background: url(../img/list.svg) no-repeat 3px 40%;
			background-size: 28px;
		}

		&.tag {
			background: url(../img/tag.svg) no-repeat 3px 50%;
			background-size: 28px;
		}

		&.selected {
			background-color: lighten($sidebar-color, 8%);
		}
	}
	input {
		background-color: $sidebar-color;
		background-image: url(../img/book_input.svg);
		background-size: 33px;
		background-repeat: no-repeat;
		color: #222;
		width: 155px;
		outline: 0;
		padding: 0 10px 0 34px;
		height: 33px;
		font-size: 14px;
		border: 0;

		&:focus {
			background-image: url(../img/book.svg);
		}
	}
}

#notes {
	width: 299px;
	border-right: 1px solid $border-color;
	position: absolute;
	left: 200px;
	top: 40px;
	bottom: 0;
	background: darken($white-color, 1%);
	overflow: auto;

	header {
		padding: 10px 15px 8px;
		border-bottom: 1px solid #bbb;
		@include background(linear-gradient(lighten($white-color, 5%), darken($white-color, 6%)));

		h1 {
			color: #333;
			margin: 0;
			font-size: 24px;
			letter-spacing: -1px;
			font-family: $light-font;
			font-weight: 300;
			text-shadow: 0 1px 0 #fff;
			cursor: default;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		cursor: default;
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #ccc;
		padding: 0 15px 8px;
		color: #444;
		font-size: 13px;
		line-height: 16px;
		overflow: hidden;

		&.selected {
			box-shadow: 0 -1px 3px rgba(0,0,0,0.1) inset;
			border-top: 1px solid rgba(0,0,0,0.1);
			@include background(linear-gradient($white-color, lighten($white-color, 10%)));
		}
	}

	h2 {
		margin: 8px 0 4px;
		font-size: 15px;
		color: #444;
	}

	time {
		color: $purple;

		&::after {
			content: " ";
		}
	}
}

#content {
	position: absolute;
	left: 500px;
	right: 0;
	top: 40px;
	bottom: 0;
	background: $white-color;

	&.deselected {
		background-color: #ededea;
		background-image: url(../img/page.svg);
		background-repeat: no-repeat;
		background-position: 50% 100px;
		background-size: 140px;

		&::after {
			position: absolute;
			top: 240px;
			font-family: $light-font;
			font-weight: 300;
			content: "No note selected.";
			letter-spacing: -1px;
			color: #666;
			font-size: 22px;
			text-align: center;
			left: 0;
			right: 0;
		}

		header {
			display: none;
		}
	}

	header {
		margin: 0;
		padding: 0;
		@include background(linear-gradient(lighten($white-color, 5%), darken($white-color, 6%)));
		border-bottom: 1px solid #b4b3b1;
		position: absolute;
		right: 0;
		left: 0;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);
		height: 76px;

		.headerwrap {
			max-width: 650px;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		h1 {
			font-weight: 300;
			font-family: $light-font;
			text-shadow: 0 1px 0 #fff;
			outline: 0;
			margin: 0;
			letter-spacing: -1px;
			color: #222;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;

			&[contenteditable=true] {
				&:hover, &:focus {
					outline: 1px solid #ccc;
				}
			}
		}

		time {
			font-family: $light-font;
			font-size: 13px;
			color: $purple
		}

		.left {
			display: inline-block;
			margin-top: 10px;
		}

		.right {
			display: inline-block;
			text-align: right;
			vertical-align: top;
			position: absolute;
			right: 15px;
			top: 10px;
			color: #999;
		}

		.toggle, .dot {
			color: #999;
			display: inline-block;
			border: 0;
			font-size: 14px;
			margin: 7px 0;
			background: transparent;
			cursor: default;
			font-weight: bold;
		}
		.toggle:hover {
			color: #444;
		}

		ul {
			margin: 0;
			padding: 0 0 0 20px;
			list-style-type: none;
			font-size: 0;
			background: url(../img/tag.svg) 0 -1px no-repeat;
			background-size: 24px;
		}

		li {
			@include background(linear-gradient(#fafafa, #f5f5f5));
			box-shadow: 0 1px 1px #fcfcfc;
			color: $purple;
			font-size: 13px;
			display: inline-block;
			border: 1px solid #ccc;
			margin-left: 5px;
			padding: 2px 6px;
			cursor: default;
			border-radius: 2px;
		}
	}
}

#contentbody {
	position: absolute;
	top:76px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 16px;
	line-height: 1.4;
	overflow: auto;
	font-family: "Source Sans Pro";

	iframe {
		margin: 0 auto;
		display: block;
		height: 100% !important;
	}
}


.modal {
	display: none;
	font-size: 14px;
	color: hsl(0,0,30%);
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	opacity: 0;
	z-index: 10;
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: .3s opacity ease;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&.show {
		opacity: 1;

		& > div {
			-webkit-transform: scale(1) translate3d(0, 0, 0);
		}
	}

	& > div {
		position: absolute;
		top: 15%;
		left: 50%;
		-webkit-transition: .3s -webkit-transform ease;
		-webkit-transform: scale(0.75) translate3d(0, 0, 0);
		background: #fff;
		font-size: 16px;
	}

	.delete-container {
		width: 400px;
		margin-left: -228px;
		padding: 25px;
		text-align: center;
		font-size: 16px;
		color: #222;
		border: 3px solid $red-color;
	}

	span {
		display: inline-block;
		margin: 5px 0;
	}

	button.special, a.special {
		display: inline-block;
		text-decoration: none;
		border: 2px solid $red-color;
		background: #fff;
		font-size: 16px;
		color: #222;
		margin-top: 15px;
		padding: 8px 15px;
		font-family: "Ubuntu", sans-serif;
		cursor: default;

		&:active {
			background: $red-color;
			color: #fff;
		}
	}
}
