#epiceditor-preview {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  line-height: 1.4;
  overflow: auto;
  font-family: "Source Sans Pro"; }
  #epiceditor-preview iframe {
    max-width: 650px;
    margin: 0 auto;
    display: block; }
  #epiceditor-preview h1, #epiceditor-preview h2, #epiceditor-preview h3, #epiceditor-preview h4, #epiceditor-preview h5, #epiceditor-preview h6 {
    font-weight: 300;
    font-family: "Ubuntu Light", "Ubuntu";
    text-shadow: 0 1px 1px #fff;
    color: #111;
    max-width: 650px;
    margin: 0 auto; }
  #epiceditor-preview ul, #epiceditor-preview ol {
    max-width: 650px;
    margin: 1em auto 1.5em; }
  #epiceditor-preview h2 {
    margin: 1em auto 0;
    font-size: 28px; }
  #epiceditor-preview a {
    color: #522453;
    text-decoration: none; }
    #epiceditor-preview a:hover {
      text-decoration: underline; }
  #epiceditor-preview p {
    margin: 0.4em auto 1.5em;
    max-width: 650px; }
  #epiceditor-preview pre {
    font-family: "Ubuntu Mono", monospace;
    font-size: 14px;
    background: #e7e5e4;
    padding: 5px 5px 5px 25px;
    border: 1px solid #b4b3b1;
    max-width: 700px; }
  #epiceditor-preview hr {
    border-bottom: #b4b3b1;
    max-width: 700px; }
  #epiceditor-preview blockquote {
    color: #555;
    border-left: 0.25em solid #eee;
    padding-left: 0.5em;
    margin: 1.5em 0 0px 0.13em;
    padding-top: 0px;
    padding-bottom: 0;
    max-width: 700px;
    font-weight: 300; }
    #epiceditor-preview blockquote p {
      font-size: 18px;
      margin: 10px 0; }
