*~
javascript/*.js
.sass-cache
node_modules
*.sublime-project
*.sublime-workspace

codekit-config.json
libpeerconnection.log

# Becuase mh0 needs to compress for the debian packaging
*.nw
public/application.css
public/application.js
