@import "compass/css3";
@import "normalize";

$white-color: #fbfaf8;
$border-color: #b4b3b1;
$sidebar-color: #e7e5e4;

body, input, textarea {
	font-family: "Ubuntu", sans-serif
}

#panel {
	width: 100%;
	height: 40px;
	background: #333;
}
#decor {
	display: inline-block;
	height: 19px;
	margin: 10px 9px;
}
#search {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding-top: 8px;
	padding-right: 15px;

	input {
		background: url(../img/search.png) no-repeat 5px 50%, rgba(0,0,0,0.2);
		outline: 0;
		padding: 5px 10px 5px 25px;
		font-size: 13px;
		color: #fff;
		border: 0;
		border-radius: 4px;
		box-shadow: 0 0 1px #444;
	}
}

#notebooks {
	width: 199px;
	border-right: 1px solid $border-color;
	background: #f00;
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	background: $sidebar-color;
}

#content {
	position: absolute;
	left: 200px;
	right: 0;
	top: 40px;
	bottom: 0;
	background: $white-color;
}
