@import "compass/css3";
@import "normalize";

body, input, textarea {
	font-family: "Ubuntu", sans-serif
}

#panel {
	width: 100%;
	height: 40px;
	@include background(linear-gradient(#4b4a46, #2a2a2a));
}
#decor {
	display: inline-block;
	background: #3c3c3c;
	height: 19px;
	margin: 10px 9px;
	border-radius: 19px;
}
#search {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding-top: 6px;
	padding-right: 15px;

	input {
		background: url(../img/search.png) no-repeat 5px 50%, #fafafa;
		border-radius: 4px;
		outline: 0;
		padding: 5px 10px 5px 25px;
		font-size: 13px;
		color: #222;
		border: 1px solid #2C2C2C;
		box-shadow: 0 1px 1px #555;
	}
}

#sidebar {
	width: 300px;
	background: #f00;
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
}

#content {
	position: absolute;
	left: 300px;
	right: 0;
	top: 40px;
	bottom: 0;
	background: #0ff;
}
