@import "compass/css3";
@import "normalize";

$white-color: #f9f9f8;
$border-color: #b4b3b1;
$sidebar-color: #e7e5e4;
$light-font: "Ubuntu Light", "Ubuntu";
$purple: #522453;

body, input, textarea {
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}

#panel {
	width: 100%;
	height: 40px;
	background: #333
}
#decor {
	display: inline-block;
	height: 19px;
	margin: 11px 13px;

	img {
		margin-right: 8px;
	}
}
#noteControls {
	display: inline-block;
	left: 200px;
	width: 291px;
	text-align: right;
	position: absolute;
	padding: 5px 4px;
	top: 0;
	border-right: 1px solid #444;

	img {
		height: 28px;
		margin-right: 6px;
		opacity: 0.7;

		&:active {
			opacity: 1;
		}
	}
}
#search {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding-top: 7px;
	padding-right: 13px;

	input {
		background: url(../img/search.png) no-repeat 7px 50%, rgba(0,0,0,0.2);
		outline: 0;
		padding: 6px 10px 6px 28px;
		font-size: 13px;
		color: #fff;
		border: 0;
		border-radius: 2px;
		box-shadow: 0 0 1px #444;
	}
}

#notebooks {
	width: 199px;
	border-right: 1px solid $border-color;
	background: #f00;
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	background: $sidebar-color;
	overflow: auto;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		height: 33px;
		line-height: 33px;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #bbb;
		padding: 0 10px 0 34px;
		font-size: 14px;
		color: #222;
		text-shadow: 0 -1px 0 #f1f1f1;
		background: url(../img/book.svg) no-repeat;
		background-size: 33px;

		&.all {
			background: url(../img/list.svg) no-repeat 3px 40%;
			background-size: 28px;
		}

		&.tag {
			background: url(../img/tag.svg) no-repeat 3px 50%;
			background-size: 28px;
		}

		&.selected {
			background-color: lighten($sidebar-color, 8%);
		}
	}
}

#notes {
	width: 299px;
	border-right: 1px solid $border-color;
	position: absolute;
	left: 200px;
	top: 40px;
	bottom: 0;
	background: darken($white-color, 1%);
	overflow: auto;

	header {
		padding: 10px 15px 8px;
		border-bottom: 1px solid #bbb;
		@include background(linear-gradient(lighten($white-color, 5%), darken($white-color, 6%)));

		h1 {
			color: #333;
			margin: 0;
			font-size: 24px;
			letter-spacing: -1px;
			font-family: $light-font;
			font-weight: 300;
			text-shadow: 0 1px 0 #fff;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #ccc;
		padding: 0 15px 8px;
		color: #444;
		font-size: 13px;
		line-height: 16px;
		overflow: hidden;

		&.selected {
			@include background(linear-gradient(darken($white-color, 2%), lighten($white-color, 10%)));
		}
	}

	h2 {
		margin: 8px 0 4px;
		font-size: 15px;
		color: #444;
	}

	time {
		color: $purple;

		&::after {
			content: " ";
		}
	}
}

#content {
	position: absolute;
	left: 500px;
	right: 0;
	top: 40px;
	bottom: 0;
	background: $white-color;

	header {
		margin: 0;
		padding: 0;
		@include background(linear-gradient(lighten($white-color, 5%), darken($white-color, 6%)));
		border-bottom: 1px solid #b4b3b1;
		padding: 10px 15px;
		position: absolute;
		right: 0;
		left: 0;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);

		h1 {
			font-weight: 300;
			font-family: $light-font;
			text-shadow: 0 1px 0 #fff;
			margin: 0;
			letter-spacing: -1px;
			color: #222;
		}

		time {
			font-family: $light-font;
			font-size: 13px;
			color: $purple
		}

		.left {
			display: inline-block;
		}

		.right {
			display: inline-block;
			text-align: right;
			vertical-align: top;
			position: absolute;
			right: 15px;
			top: 8px;
			color: #999;
		}

		.toggle, .dot {
			color: #999;
			display: inline-block;
			border: 0;
			font-size: 14px;
			margin: 7px 0;
			background: transparent;
			cursor: default;
			font-weight: bold;
		}
		.toggle:hover {
			color: #444;
		}

		ul {
			margin: 0;
			padding: 0 0 0 20px;
			list-style-type: none;
			font-size: 0;
			background: url(../img/tag.svg) 0 -1px no-repeat;
			background-size: 24px;
		}

		li {
			@include background(linear-gradient(#fafafa, #f5f5f5));
			box-shadow: 0 1px 1px #fcfcfc;
			color: $purple;
			font-size: 13px;
			display: inline-block;
			border: 1px solid #ccc;
			margin-left: 5px;
			padding: 2px 6px;
			cursor: default;
			border-radius: 2px;
		}
	}
}

#contentbody {
	position: absolute;
	top:76px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 40px 15px 60px;
	color: #444;
	font-size: 16px;
	line-height: 1.4;
	overflow: auto;
	font-family: "Source Sans Pro";

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		font-family: $light-font;
		text-shadow: 0 1px 1px #fff;
		color: #111;
		max-width: 650px;
		margin: 0 auto;
	}

	ul, ol {
		max-width: 650px;
		margin: 1em auto 1.5em;
	}

	h2 {
		margin: 1em auto 0;
		font-size: 28px;
	}

	a {
		color: $purple;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin: 0.4em auto 1.5em;
		max-width: 650px;
	}

	pre {
		font-family: "Ubuntu Mono", monospace;
		font-size: 14px;
		background: $sidebar-color;
		padding: 5px 5px 5px 25px;
		border: 1px solid $border-color;
		max-width: 700px;
	}

	hr {
		border-bottom: $border-color;
		max-width: 700px;
	}

	blockquote {
		color:#555;
		border-left:0.25em solid #eee;
		padding-left:0.5em;
		margin:1.5em 0 0px 0.13em;
		padding-top:0px;
		padding-bottom:0;
		max-width: 700px;
		font-weight:300;

 		p {
 			font-size:18px;
			margin:10px 0;
		}
	}
}
