html { padding:10px; }

body {
  margin: 0 auto;
  width: 650px;
  padding: 15px 0 40px;
  display: block;
  color: #444;
  font-family: "Source Sans Pro";
  line-height: 1.4;
  overflow: auto;
}
